{% extends 'base.html' %}
{% block content %}
    <div class="home-menu">
        <div>
            <a href="{% url 'ticket_upload' %}" class="neumorphic neumorphic-button text-deco">Demander une critique</a>
        </div>
        <div>
            <a href="{% url 'review_upload' %}" class="neumorphic neumorphic-button text-deco">Créer une critique</a>
        </div>
    </div>
{% for item in flux %}
    {% include 'blog/_card.html' with item=item show_review_option=True show_post_option=False %}
{% endfor %}
{% endblock content %}