{% load static %}
<html>
<head>
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
</head>
<body>
    <div class="header-bar">
        <div class="header-inner">
            <div class="header-title">LITRevu</div>
            {% if user.is_authenticated %}
                <div class="header-nav">
                    <a href="{% url 'home' %}" class="neumorphic neumorphic-button text-deco">Flux</a>
                    <a href="{% url 'posts' %}" class="neumorphic neumorphic-button text-deco">Posts</a>
                    <a href="{% url 'subscribe' %}" class="neumorphic neumorphic-button text-deco">Abonnements</a>
                    <a href="{% url 'logout' %}" class="neumorphic neumorphic-button text-deco">Se déconnecter</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <div class="footer">
        {% if user.is_authenticated %}
            <p>Vous êtes connecté en tant que {{ request.user }}.</p>
        {% endif %}
    </div>
</body>
</html>