:root {
    --bg-main: #e0e5ec;
    --bg-light: #f0f0f0;
    --border-color: #ccc;
    --shadow-dark: #a3b1c6;
    --shadow-light: #ffffff;
    --text-main: #6d7582;
    --text-muted: #888;
    --placeholder: #a3b1c6;
    --highlight: gold;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
    background: url(./../img/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}


/* Navigation responsive */
.header-nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    text-align: center;
    margin-top: 10px;
}

.header-nav.show {
    display: flex;
}


.login-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.header-bar {
    width: 100%;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 177, 199, 1) 100%, rgba(237, 221, 83, 1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.header-inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    text-shadow: 1px 1px 2px var(--border-color);
}

.home-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    height: 50px;
    justify-content: space-between;
    gap: 10px;
}


h1 {
    color: var(--text-main);
    margin-bottom: 20px;
}

.neumorphic {
    background: var(--bg-main);
    border-radius: 20px;
}


.form-content {
    padding: 0 40px; 
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unfollow {
    float: right;
}

.neumorphic-follow,
.neumorphic-home-card,
.review-card,
.ticket-card {
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.neumorphic-subscribe {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.neumorphic-card,
.neumorphic-card-subscribe {
    margin: 20px;
    position: relative;
    z-index: 1;
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    
}

.neumorphic-card {
    width: 300px;
}

.neumorphic-card-subscribe {
    width: 500px;
}

.neumorphic-search {
    padding: 15px;
    font-size: 16px;
    color: var(--text-main);
    border: none;
    outline: none;
}

.neumorphic-input {
    padding: 15px;
    font-size: 16px;
    color: var(--text-main);
    border: none;
    outline: none;
    width: 90%
}

.neumorphic-input::placeholder {
    color: var(--placeholder);
}

.hidden-file-input {
    display: none;
}

.neumorphic-follow-button,
.neumorphic-nav-button,
.neumorphic-button {
    font-size: 16px;
    color: var(--text-main);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-sizing: border-box; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
}

.neumorphic-button {
    width: auto;
    margin-top: 10px;
    padding: 15px 30px;
}

.neumorphic-nav-button {
    width: auto;
    margin-top: -40px;
    padding: 15px 30px;
}

.neumorphic-follow-button {
    margin-top: -11px;
    padding: 11px 30px;
}

.neumorphic-button:active {
    box-shadow: inset 5px 5px 10px var(--shadow-dark), inset -5px -5px 10px var(--shadow-light);
}

.rating-group {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.rating-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.review-card,
.ticket-card {
    position: relative;
}

.ticket-header,
.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-author,
.review-author {
    font-weight: bold;
}

.ticket-date,
.review-date {
    font-size: 0.9em;
    color: var(--text-muted);
    text-align: right;
}

.ticket-title,
.review-title {
    margin: 0;
    font-size: 1.2em;
}

.ticket-description,
.review-description {
    margin-top: 0.5em;
}

.ticket-image {
    align-self: flex-start;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.ticket-footer,
.review-footer {
    position: absolute;
    right: 20px;
}


.ticket-footer a,
.review-footer a {
    position: relative;
    bottom: 20px;
}


.ticket-footer p,
.review-footer p {
    position: relative;
    bottom: 30px;
}


.follow-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Desktop view */
@media screen and (min-width: 768px) {
    .header-nav {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;
    }

    .hamburger {
        display: none;
    }
}

/* Mobile view */
@media screen and (max-width: 767px) {
    .hamburger {
        display: block;
        margin-top: -36px;
    }
    .header-nav.show {
        display: flex;
        align-items: center;
    }
    
    .header-nav {
        padding-top: 50px;
        gap: 50px;
        align-items: flex-start;
        text-align: center;
    }
    .neumorphic-nav-button,
    .neumorphic-button {
        padding: 13px 18px;
        font-size: 15px;
        color: var(--text-main);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease; 
        box-sizing: border-box; 
        text-align: center; 
        display: inline-block; 
        text-decoration: none; 
    }
    .neumorphic-nav-button {
        width: 150px;
    }
    .ticket-footer,
    .review-footer {
        position: absolute;
        right: 20px;
    }
    .ticket-footer a,
    .review-footer a {
        position: relative;
        bottom: 20px;
    }
    .ticket-footer p,
    .review-footer p {
        position: relative;
        bottom: 16px;
    }
}